/* Including styles files */
@import sprite.sass
@import fonts.sass
@import grid.sass
@import '../../libs/fancybox/dist/jquery.fancybox.css'


/* Global settings */
$font-size: 14px
$font-family-1: 'Cooper Hewitt', sans-serif
$font-family-2: 'ReporterLTStd', sans-serif
$color-1: #000


*, :before, :after
	padding: 0
	margin: 0
	border: 0
	box-sizing: border-box

body
	font-size: $font-size
	font-family: $font-family-1
	color: $color-1
	background: white
	font-weight: 700

h1, h2, h3, h4, h5, h6
	font-family: inherit
	font-size: inherit
	font-weight: inherit

ul
	display: flex
	flex-wrap: wrap
	justify-content: flex-start

li
	display: block
	list-style-image: none

a
	color: $color-1
	text-decoration: none
	border-bottom: 1px solid transparent
	transition: .3s

img
	display: block
	max-width: 100% !important
	max-height: 100% !important

input
	-webkit-appearance: none
	-moz-appearance: none
	appearance: none

input, textarea, button
 outline: none

/* Form elements */
.input
	position: relative
	&__wrap
		display: block
		font-size: $font-size
		font-family: $font-family-1
		background: white
		width: 100%


.textarea
	position: relative
	&__wrap
		display: block
		font-size: $font-size
		font-family: $font-family-1
		background: white
		width: 100%
		resize: none

.btn
	position: relative
	display: flex
	align-items: center
	justify-content: center
	font-size: $font-size
	font-family: $font-family-1
	cursor: pointer
	text-align: center
	transition: .3s
	background-color: transparent

.input input, .textarea textarea
	transition: .3s

input, .btn, .slick-slide, textarea
	outline: none !important


.tal
	text-align: left

.tac
	text-align: center

.tar
	text-align: right

.mid
	margin-left: auto
	margin-right: auto



.main-wrap
	// overflow-x: hidden



.tickets-btn
	display: flex
	align-items: center
	justify-content: center
	width: 160px
	height: 60px
	background-color: #fff
	font-size: 30px
	color: #d7207b
	letter-spacing: -0.5px
	text-transform: uppercase
	position: absolute
	top: 0
	right: 50px
	z-index: 1

.header
	height: 100vh
	min-height: 650px
	background: url('../../img/header.png') no-repeat center top
	background-size: cover
	.case
		display: flex
		flex-wrap: wrap
		align-items: center
		justify-content: center
		height: 100%
		img
			margin-left: auto
			margin-right: auto
	&__title
		position: relative
		width: 397px
		margin-left: auto
		margin-right: auto
		span
			z-index: 1
			position: absolute
			width: 88px
			height: 37px
			left: -99px
			top: 25px
			background: url('../../img/2019.png') no-repeat center
		&:before
			content: ''
			top: -3px
			left: -10px
			position: absolute
			width: 417px
			height: 94px
			background-color: #263a76
			transform: rotate(-3deg)
		&:after
			z-index: 1
			content: ''
			top: -10px
			right: -102px
			position: absolute
			width: 157px
			height: 142px
			background: url('../../img/pig.png') no-repeat center
		img
			z-index: 2
			position: relative
	&__desc
		width: 275px
		padding: 10px
		background-color: #f7eb41
		position: relative
		z-index: 1
		transform: rotate(-6deg)
		margin-left: auto
		margin-right: auto
	&__text
		font-size: 48px
		color: #263a76
		background-color: #f7eb41
		font-weight: 500
		padding: 3px 10px
		transform: rotate(-3deg)
		margin-top: 15px
		strong
			font-weight: 700




.nav
	position: absolute
	top: 0
	left: 0
	right: 0
	color: #fff
	background-color: #263a76
	a
		color: #fff
	&-wrap
		position: relative
		min-height: 70px
	&__wrap
		min-height: 70px
	&__list

		li
			margin-right: 63px
			&:last-of-type
				margin-right: 0
		a
			font-size: 18px
			color: #fff
			font-weight: 500

		

.socials
	ul
		justify-content: center
		align-items: center
		margin-left: -5px
		margin-right: -5px
	li
		margin-right: 5px
		margin-right: 5px
	a
		display: flex
		flex-wrap: wrap
		width: 26px
		height: 26px
		background-color: #d7207b
		border-radius: 50%
		&:before
			content: ''
			display: block
			background-position: center
			background-repeat: no-repeat
			width: 100%
			height: 100%
		&[href*="facebook.com"]
			&:before
				background-image: url('../../img/facebook.png')
		&[href*="twitter.com"]
			&:before
				background-image: url('../../img/twitter.png')




.hidden-lg
	display: none
