
@font-face {
  font-family: 'ReporterLTStd-2';
  src: url('ReporterLTStd-2.eot?#iefix') format('embedded-opentype'),  url('ReporterLTStd-2.otf')  format('opentype'),
	     url('ReporterLTStd-2.woff') format('woff'), url('ReporterLTStd-2.ttf')  format('truetype'), url('ReporterLTStd-2.svg#ReporterLTStd-2') format('svg');
  font-weight: normal;
  font-style: normal;
}
